<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="language" content="de">
<meta name="descripion" content="{{ site.descripion }}">
<meta name="author" content="{{ site.author }}">
<link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}" media="screen">
<link rel="mask-icon" href="/safari-tab-icon.svg" color="#DDFF00" sizes="any">
<link rel="icon" type="image/x-icon" href="/favicon.png">